<h3 style="text-align: center;font-style:italic;">Login to Your Account!</h3>

<div class="container">
  <%= form_for :user do |f| %>
    <p><%= f.text_field :email, class: "form-control", placeholder: "Enter your email",autofocus: true %> </p>
    <p><%= f.password_field :password, class: "form-control", placeholder: "Enter your password" %> </p>
    <%= f.submit "Login!", class: "btn btn-sunny text-uppercase" %><br/>
    <%= link_to "Sign up for a new account!", new_user_path %>
  <% end %>
</div>

