<div class="splashimage"></div>
<div class="splashwords"></div>

<div class="loginSignup">
  <%= form_for :user do |f| %>
    <p><%= f.text_field :email, class: "form-control",
            placeholder: "Enter your email",
            autofocus: true,
            required: true %>
    </p>
    <p><%= f.password_field :password, class: "form-control",
            placeholder: "Enter your password",
            required: true %>
    </p>
    <%= f.submit "Login!", class: "btn btn-info" %><br/>
    <%= link_to("Sign up for a new account!", signup_path, :method => :get) %>
  <% end %>
</div>

