<div class="splashimage"></div>
<div class="splashwords"></div>

<div class="loginSignup">
  <%= form_for :user do |f| %>
    <p><%= f.text_field :firstname, class: "form-control",
            placeholder: "First Name",
            autofocus: true,
            required: true %>
    </p>
    <p><%= f.text_field :lastname, class: "form-control",
            placeholder: "Last Name",
            required: true %>
    </p>
    <p><%= f.text_field :email, class: "form-control",
            placeholder: "email",
            required: true %>
    </p>
    <p><%= f.password_field :password, class: "form-control",
            placeholder: "password",
            required: true %>
    </p>
    <%= f.submit "SIGN UP!", class: "btn btn-info",
            style: "font-size:1.5em;padding:10px 79px;opacity:.8;" %><br>
    <%= link_to("Login to your account!", login_path, :method => :get) %>
  <% end %>
</div>

