<div class="image"></div>

<div class="loginSignup">
  <%= form_for :user do |f| %>
    <p><%= f.text_field :firstname, class: "form-control", placeholder: "First Name",
    autofocus: true %></p>
    <p><%= f.text_field :lastname, class: "form-control", placeholder: "Last Name" %></p>
    <p><%= f.text_field :email, class: "form-control", placeholder: "email" %></p>
    <p><%= f.password_field :password, class: "form-control", placeholder: "password" %></p>
    <%= f.submit "Signup!", class: "btn btn-sunny text-uppercase" %><br>
    <%= link_to("Login to your account!", login_path, :method => :get) %>
  <% end %>
</div>

