<!DOCTYPE html>
<html>
<head>
  <title>Gifter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= @home_page ? 'home_page': '' %>">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/users">Gifter!</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <% if !session[:id] %>
          <li><%= link_to " Sign Up!", new_user_path, class: "active" %></li>
        <% end %>
        <% if session[:id] %>
          <li><%= link_to " Edit", edit_user_path(session[:id]) %></li>
          <li><%= link_to " Show", user_path(session[:id]) %></li>
          <li><%= link_to " Make an Event!", new_user_event_path(session[:id]), class: "active" %></li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to " Logout", logout_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav><br/><br/><br/>

<%= yield %>

</body>
</html>
